{% extends "base.html" %}

{% block title %}Login - Stallion Routes{% endblock %}

{% block content %}
<header>
    <nav class="navbar navbar-expand-lg px-4 bg-dark">
        <a class="navbar-brand" href="#">Stallion Routes</a>
        <div class="ms-auto">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="btn btn-sm btn-outline-light" style="--bs-btn-border-width: 2px;" href="{{ url_for('signup') }}">Signup</a></li>
            </ul>
        </div>
</header>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-8 col-12">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="col-12">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <div class="card">
                <div class="card-header text-center top-nav text-black">
                    <h4 class="m-0">Login</h4>
                </div>
                <div class="card-body">
                    <form method="POST" action="{{ url_for('login') }}">
                        <div class="form-group mb-3">
                            <label for="email" class="form-label"><i class="bi bi-envelope-fill"></i> Email:</label>
                            <input type="email" class="form-control border-0 border-bottom border-black shadow-none" id="email" name="email" placeholder="enter email" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="password" class="form-label"><i class="bi bi-lock-fill"></i> Password:</label>
                            <input type="password" class="form-control border-0 border-bottom border-black shadow-none" id="password" name="password" placeholder="enter password" required>
                        </div>
                        <div class="d-grid mb-3">
                            <a href="{{ url_for('forgot_password') }}" class="text-decoration-none text-black text-end">Forgot Password</a>
                        </div>

                        <!-- Hidden field for reCAPTCHA token -->
                        <input type="hidden" id="recaptcha_token" name="recaptcha_token">

                        <button type="submit" class="btn btn-stallion col-12">Login</button>
                    </form>

                    <!-- Google reCAPTCHA v3 -->
                    <script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
                    <script>
                    grecaptcha.ready(function() {
                        grecaptcha.execute('{{ site_key }}', {action: 'login'}).then(function(token) {
                            document.getElementById('recaptcha_token').value = token;
                        });
                    });
                    </script>

                    <div class="text-center mt-3">
                        <p>Don't have an account? <a href="{{ url_for('signup') }}" class="text-decoration-none text-color">Sign Up</a></p>
                    </div>
                </div>
                <div class="text-center fs-5">By signing in, you agree to our <span class="text-color">Terms of Service</span> and <span class="text-color">Privacy Policy.</span></div>
            </div>
            <div class="text-center mt-3">
                <p class="text-muted">© <script>document.write(new Date().getFullYear())</script> Stallion Group. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}